<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.lema.dt.unit.manual.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for a veteran project.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>rootClassName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Root View Controller Class:</string>
			<key>Description</key>
			<string>Class name of root view controller</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>RootViewController</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>liveReload</string>
			<key>Name</key>
			<string>Live Reload:</string>
			<key>Description</key>
			<string>The type of hot reloading the user needs</string>
			<key>Values</key>
			<array>
				<string>InjectionIII</string>
				<string>Sherlock</string>
			</array>
			<key>Default</key>
			<string>Sherlock</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>InjectionIII</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
							<string>___VARIABLE_rootClassName___.swift:comments</string>
							<string>___VARIABLE_rootClassName___.swift:imports:importCocoa</string>
							<string>___VARIABLE_rootClassName___.swift:implementation(___FILEBASENAME___: UIViewController)</string>
							<string>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
							<string>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad:super</string>
							<string>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad:body</string>
							<string>SwiftInjection.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad:body</key>
							<string>view.backgroundColor = .white</string>
							<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
							<string>// Override point for customization after application launch.
window = UIWindow(frame: UIScreen.main.bounds)
window?.rootViewController = ___VARIABLE_rootClassName___()
window?.makeKeyAndVisible()

#if DEBUG
Bundle(path: &quot;/Applications/InjectionIII.app/Contents/Resources/iOSInjection10.bundle&quot;)?.load()
#endif</string>
							<key>SwiftInjection.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftInjection.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Sherlock</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
							<string>___VARIABLE_rootClassName___.swift:comments</string>
							<string>___VARIABLE_rootClassName___.swift:imports:importCocoa</string>
							<string>___VARIABLE_rootClassName___.swift:implementation(___FILEBASENAME___: UIViewController)</string>
							<string>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
							<string>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad:super</string>
							<string>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad:body</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_rootClassName___.swift:implementation:methods:viewDidLoad:body</key>
							<string>view.backgroundColor = .white</string>
							<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
							<string>// Override point for customization after application launch.
window = UIWindow(frame: UIScreen.main.bounds)
window?.rootViewController = ___VARIABLE_rootClassName___()
window?.makeKeyAndVisible()</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>extensions</string>
			<key>Name</key>
			<string>Include Extensions</string>
			<key>Description</key>
			<string>Extensions that are configurable </string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array/>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Extensions.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Extensions.swift</key>
							<dict>
								<key>Path</key>
								<string>Extensions.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict/>
</dict>
</plist>
